body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ddfdfc, #ffc3a0);
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

.message h1 {
    color: #ff19cd;
    font-size: 120px;
    animation: fadeIn 1s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#scroller {
    width: 100%;
    height:100%;
    overflow: hidden;
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-left: -140px;
    height: 150px; /* Adjust this height according to your needs */
}
#scroller-in h4 {
    font-size: 80px;
    font-weight: 900;
    margin: -100px;
    margin-left:-50px;
    color: #000;
    -webkit-text-stroke: 2px #ffffff;
    opacity: 0;
    position: absolute;
    animation: scrollWord 10s ease-in-out infinite;
}

#scroller-in h4:nth-child(1) {
    animation-delay: 0s;
}

#scroller-in h4:nth-child(2) {
    animation-delay: 2s;
}

#scroller-in h4:nth-child(3) {
    animation-delay: 4s;
}

#scroller-in h4:nth-child(4) {
    animation-delay: 6s;
}

#scroller-in h4:nth-child(5) {
    animation-delay: 8s;
}

@keyframes scrollWord {
    0%, 20% {
        opacity: 1;
        transform: translateX(0);
    }
    25%, 100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
#fireworksButton {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4b5c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    transition: background-color 0.3s ease;
}

#fireworksButton:hover {
    background-color: #ff6b7c;
}

#fireworksCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* So it doesn't interfere with button clicks */
    z-index: 999;
}
